[2012-03-01 17:18] sebastian opened #2 "[build] ext build target marked as complete even when it fails"
If you run `make ext` and it fails, for example because of missing dependencies, the build system seems to believe the step has been successfully completed. If you run `make ext` again, even without having made any changes, I get:
`make: 'ext' is up to date.`

I am running Ubuntu 11.10
gnu make: 3.81

[2012-03-09 14:39] #2 closed, assigned to nobody

[2012-10-11 17:46] ms705 opened #3 "glog not set up correctly"
fetch-externals.sh currently does not set up google-glog correctly; it builds it into a local path, but if we link it dynamically, binaries do not work. Instead, fetch-externals.sh should prompt the user to run the necessary commands to install it.

[2012-10-26 16:49] #3 closed, assigned to ms705

[2012-10-28 15:48] ms705 opened #4 "Improve build system"
_**Edit, July 2015:**_ **generalized this into a point about the build system as a whole.**

We should move the build system over to a somewhat less hacky setup. There are several problems with the current build system:
 1. The use of per-module libraries to aggregate object files (`libfirmament_*.a`) is convenient for specifying cross-module dependencies, but inhibits us from using different buil

[2012-11-30 14:33] nacrooks opened #5 "Confusion between listen_uri and http_ui_port"
Confusion between listen_uri and http_ui_port causes system to crash on line stream_sockets_channel-inl.h:379 due to invalid value of  msg_size field.

[2012-11-30 14:50] ms705 opened #6 "Submitting >1 job crashes the coordinator"
This is due to all root tasks currently having the same name, as it is based on hashing the creating task ID (which is zero for the root task on job submission).

The engine, however, assumes that it has never seen a task before, and will CHECK-fail if it sees the same TaskID arriving again.

Required fixes:
1) Change hashing scheme such that different jobs' root tasks have different names.
2) Sen

[2012-12-02 00:26] #6 closed, assigned to nobody

[2013-10-22 23:28] ms705 opened #9 "Parallel build using make -j fails"
There's something wrong with dependencies via intermediate libfirmament_*.a files; when building in parallel mode (e.g. `make -j 8`), all .o files get made correctly, but linking via the .a files fails as they do not (yet?) exist.

Should investigate this.

[2014-05-19 16:25] #9 closed, assigned to nobody

[2015-03-29 14:33] ms705 opened #14 "Enabling flow scheduler crashes during resource topology addition"
When running the coordinator with a flow scheduler and any cost model, it crashes on startup (as of recent versions):

[code]

It looks to me like we've got two nested BFS traversals going on here, one triggered from `FlowGraph::UpdateResourceTopology` and one from `FlowGraph::AddResourceTopology`, which seems a bit funky. I believe this was introduced by 502af61f4b1b47b6ae0d5f120716446d0df50b05 v

[2015-03-29 22:40] ms705 commented on #14
Hmm, this appears to be related to a local change of mine (i.e. upstream isn't broken).

I changed the signature of `AddResource` to take a `RTND*` rather than a `ResourceDescriptor*` in order to be able to traverse the resource topology in the cost models. As part of this, I replaced instances of `DFSTraverseResourceProtobufTree` with `DFSTraverseResourceProtobufTreeRTND`, which seems to introduc

[2015-03-30 08:23] ms705 commented on #14
Fixed in a5c08d8be57a3f03387862e9ecd07e77b6c712fc -- the problem was the nesting of DFS and BFS invocations. Transforming the outermost invocation to a BFS fixed the problem (modulo the necessity of nested traversals).

[2015-03-30 08:23] #14 closed

[2015-04-30 09:49] ms705 opened #15 "Circular dependency between scheduler unit tests and cost models"
We still have a circular dependency in the build system, unfortunately: the `cost_models` target depends on `scheduling`, but `scheduling` contains some unit tests that require `libfirmament_cost_models.a`.

To reproduce, do a `make clean` and build:

[code]

Possible solutions:
 * Bring cost models back to `scheduling` (not really a good answer)
 * Break out the parts of `scheduling` that `cost_m

[2015-04-30 10:00] ms705 commented on #15
Having looked at this a bit more, I think the dependency issue is as follows:

`scheduling` builds the flow graph components, which the cost model interface depends on (via `FlowGraphNode` and similar types), but the `scheduling` unit tests (`DIMACSExporterTest` and `FlowGraphTest`) in turn depend on the trivial cost model.

The right answer to me seems to be to break out the flow graph stuff into

[2015-05-27 12:54] ms705 opened #18 "Replace slow task assignment extraction code"
The naive task mapping extraction code in `quincy_dispatcher.cc` is slowing things down at scale (most notably when running the simulator on the full Google trace) since it takes a few seconds to extract the task mappings.

We have an algorithmically superior implementation in Flowlessly, which we should back-port into the Firmament code base, so that all flow solvers benefit from it.

[2015-05-30 17:23] ms705 commented on #15
(This is on hold until #17 is merged, as it will otherwise trigger lots of tree conflicts.)

[2015-05-31 05:16] ICGog opened #19 "Create common cost model state class."
Currently, all the cost model constructors have a large number of arguments. Create a class to wrap up the common objects required by all the cost models.

[2015-05-31 05:20] ICGog opened #20 "Fix simulated Quincy cost model hack."
The simulated Quincy cost model has a hack to allow direct mapping of tasks to racks, rather than via task equivalence classes.

[2015-05-31 06:27] ICGog opened #21 "Remove duplication in Quincy cost models (simulated vs. real cluster)"
The simulated Quincy should wrap around the real Quincy model and feed it with simulated data locality information.

[2015-05-31 23:59] ms705 commented on #15
This is fixed in #22. Sent to @ICGog for review: https://review.gerrithub.io/#/c/234885/.

[2015-06-01 16:11] ms705 commented on #15
Resolved in #22 (merged).

[2015-06-01 16:11] #15 closed

[2015-06-19 07:33] ms705 opened #24 "Track active tasks' data separately from "archived" ones'"
We currently keep track of all tasks known to a coordinator in the `TaskMap_t` data structure owned by the `Coordinator`. This contains tasks in new, runnable, running, completed, failed and various other states. We use it for the web UI, scheduling and the management of task-specific data structures.

However, the flow graph (and, consequently, the cost models) sometimes needs to iterate over all

[2015-06-26 16:03] ms705 opened #25 "Output from flowlessly solver invalid on second invocation unless --only_read_assignment_changes is specified"
Invoking flowlessly in default mode (i.e., non-incremental) results in output being returned that the dispatchers parsing logic fails to understand because node type information is lacking.

Steps to reproduce:
 1. Invoke the coordinator as `build/engine/coordinator --logtostderr --scheduler flow --flow_scheduling_cost_model 2 --v=1 --flow_scheduling_solver=flowlessly --debug_flow_graph`
 2. Submi

[2015-06-26 16:32] ms705 opened #26 "Workaround required for cs2 to work with sparse node IDs"
When using the cs2 solver, the maximum node ID in the flow graph output sent to the solver can be no greater than the number of nodes in the flow graph, or the solver fails. In other words, the `p N E` DIMACS line at the start of the output must contain the maximum node ID used as `N`.

The workaround fix deployed in ee31f8091097f06828db89e68027541d7f6acf55 is to return the maximum ID in use inste

[2015-07-06 02:05] ICGog commented on #24
My feeling is that option 2 is the right way to do it. However, it depends on how much re-factoring we would have to do for the change. If it is relatively difficult, then we can go for option 1. It looks like a good in-between solution: not too-hacky and not difficult to get in.

Option 3 is the least appealing to me because it doesn't simplify at all the code of the cost models. We would still h

[2015-07-14 15:57] ms705 opened #30 "Make the coordinator less CPU-spin happy"
Currently, the coordinator spins hard on incoming messages in the `StreamSocketsAdapter` when doing asynchronous receives. This was the easiest way of implementing the functionality, but is not actually required.

Instead, we should rework the `StreamSocketsAdapter` and `StreamSocketsChannel` code to use the Boost ASIO proactor pattern correctly (with a finishing async receive callback setting up

[2015-07-14 18:26] ms705 commented on #4
Updated the above to generalize to a revamp of the build system as a whole; mentioned @AdamGleave.

[2015-07-14 20:34] mgrosvenor commented on #30
An alternative option would be to move to CamIO2, which can be made to sleep, but will still have an asyc pattern for speed.

[2015-11-29 04:09] mgoelzer opened #34 "Linker error building examples"
I'm having trouble getting `make examples` to work.  I get a linker error:

[code]

which I assume means there is some additional shared library I ought to be linking against, but I can't figure out what it is.

Full output starting from a make clean of the repo is below.  System is Ubuntu 14.04 with boost 1.55.0 and clang++/llvm 3.4.

Any ideas?

[code]

[2015-11-29 04:15] mgoelzer commented on #34
Just to clarify:  I'm doing `make --no-print-directory examples` instead of `make examples` to get around a different problem with what I think is a superfluous -w that's getting passed to make somewhere.  If I just do `make examples`:

[code]

So, after recursing into src/examples/hello_world it thinks `w` is the target.  Adding `--no-print-directory` cleared this one up though.

[2015-11-29 04:19] ms705 commented on #34
Thansk for the report, I'll look into this.

My hunch is that there is a problem with the statically linked version of TaskLib that these examples use. In practice, these example applications are of relatively little value: as they require TaskLib to be linked at compilation time, they're a lot less flexible than simply using Firmament's support for dynamically injecting TaskLib via `LD_PRELOAD` (

[2015-11-29 04:35] ms705 commented on #34
Thanks for reporting the build issue, too -- I can reproduce that one, and will look into what's happening there. In general, we are planning to transition to using CMake (rather than our rather cobbled-together build system) in the future, but this is worth fixing no matter what.

[2015-11-29 04:59] mgoelzer commented on #34
Ah, ok, thanks for the reply.  I will look more closely at the dynamic TaskLib and forget about these statically linked examples in that case.

PS  Native container support sounds very exciting.

[2015-11-29 17:06] ms705 commented on #34
@mgoelzer The dynamically linked task lib is injected automatically if you pass the correct `--task_lib_dir` argument to the coordinator on startup (normally, this is `${PWD}/build/engine` if `${PWD}` is the root of the Firmament source tree. That way, any binary should be runnable as a Firmament task.

Re-opening this issue to track fixing the examples build issues.

[2015-11-29 23:44] mgoelzer opened #35 "Null pointers in Whare-Map and Octopus"
I am getting null pointer assertion failures when trying to use two of the cost models:  whare-map and octopus.  Error is like this:

[code]

and

[code]

The other cost models (that are marked as complete in README.md) work fine.

[2015-11-29 23:49] mgoelzer commented on #35
Here is more verbose output of the error.

I added instumentation to FindPtrOrNull() and the problem is that the key `accumulator->resource_id_` is not present in the map (not that the key has a null value).  But I don't know enough yet about how to the map gets populated to fix this myself.

[code]

[2015-11-30 17:03] ms705 commented on #34
Fixes to the build issues are under review on GerritHub here:

 * (CL 253697)[https://review.gerrithub.io/#/c/253697/] (fixes the build issues)
 * (CL 253698)[https://review.gerrithub.io/#/c/253698/] (removes misleading mention of examples from README)

I'm still chasing a segfault on exit for the HelloWorld example, but should have that sorted soon.

[2015-11-30 17:07] ms705 commented on #35
Thanks for the report, verified to be an issue on HEAD.

I believe I have a fix to this somewhere on one of our test clusters; will dig and push it upstream. The issue has cropped up before, and it's related to the fact that the resource topology part of the flow graph isn't fully initialised when the scheduler makes its first pass cost model statistics update over it (see the call chain of `Coord

[2015-12-04 04:54] ms705 commented on #35
Fix now under review in [CL 254197](https://review.gerrithub.io/#/c/254197/).

[2015-12-04 22:28] ms705 commented on #35
Fixed in d5f9dc3e63521a192b46ff9e77cabadba9bc262d.

[2015-12-04 22:28] #35 closed

[2016-01-25 16:21] ms705 opened #36 "Build errors on Ubuntu 15.10"
Building Firmament on Ubuntu 15.10 currently fails when using clang as the compiler.

On Ubuntu 15.10, `gcc` and `libstdc++` have been upgraded to version 5+. Along with this came a C++11 ABI change that made backwards-incompatible changes to `libstdc++`. As a result, only libraries that were compiled against the same libstdc++ ABI can be linked together. The Ubuntu `libprotobuf9-v5` package is co

[2016-01-29 12:30] ICGog opened #37 "Improve hash functions used to generate IDs."
Currently, we use `hash_combine()` from `boost::hash` to generate unique IDs. However, `boost::hash::hash_combine` is a rather weak hash that in practice can lead to collisions. One such collision can be obtained by running a simulation with 1000 tasks / second submission rate using the following command:
[code]

[2016-01-30 11:51] ms705 commented on #37
We should fix this, since we've already hit the issue several times before.

In the past, @AdamGleave moved (parts of) the simulator to use SpookyHash, and we already have SpookyHash as an external dependency in the code base. This suggests that we should use SpookyHash as a replacement for `boost::hash::hash_combine()`.

Am I right in assuming that these are changes that affect both simulation an

[2016-01-30 11:52] ms705 commented on #4
I'm working on a port to CMake, and will have this up in an experimental branch soon.

[2016-02-02 05:48] ms705 commented on #4
Tracking the initial CMake port in CL [261812](https://review.gerrithub.io/#/c/261812/).

This currently still needs:
- [ ] Support for additional targets (simulator, task_lib).
- [ ] Support for unit tests.
- [ ] Support for fetching and building external dependencies.
- [ ] Platform/OS version differentiation (e.g. respect peculiarities of different Ubuntu versions).

[2016-02-02 05:55] ms705 commented on #18
@ICGog is this actually still an issue? I know that the dispatcher code changed significantly since, but it looks like `GetMappings()` in `SolverDispatcher` didn't change substantially. Did your recent scalability and performance improvement work would have hit the inefficient assignment extraction as an issue?

[2016-02-03 09:02] ICGog commented on #37
Yes, you're right. The changes affect both simulation and real execution.

We're now using SpookyHash wherever we don't need to merge two sources of information. The change is here: [https://github.com/ms705/firmament/commit/af072c050939062176bb3735aae6a6cc7fb9ce52](https://github.com/ms705/firmament/commit/af072c050939062176bb3735aae6a6cc7fb9ce52)

[2016-02-03 09:02] #37 closed

[2016-02-03 09:04] ICGog commented on #18
I didn't hit this issue in my scalability tests because I was using Flowlessly which can use its fast assignment algorithm to just return task mappings. However, this is likely to still be a problem if we use other solvers.

[2016-02-03 10:00] ICGog opened #38 "Arcs between ECs don't get updated."
Currently, the capacity and cost of the arcs connecting equivalence classes do not get updated. This is not a problem for our current cost models because they don't have arcs between ECs. However, we still want to update the arcs because we may add cost models that require this feature.

[2016-02-03 10:04] ICGog commented on #19
We have refactored the code a lot since this issue has been opened. I don't think the solution is a good idea in our current code base.

[2016-02-03 10:04] #19 closed

[2016-02-25 17:38] ms705 commented on #38
I believe [262172](https://review.gerrithub.io/#/c/262172/) (merged as fa41f2e1606575cc536796d82b0f49b0424ef3f7) fixes this bug? Can it be closed?

[2016-03-01 17:00] ICGog commented on #38
Yes, that's true.

[2016-03-01 17:00] #38 closed

[2016-03-01 22:50] ms705 commented on #4
This is now merged as 381adf11518e1f5833f74a7c66da06790bcecd92. We will address OS-specific peculiarities and remove the old build system in separate commits. There may be some teething problems with the new build system, but it should support all targets that existed in the old one.

The README has been updated to outline the new build workflow.

[2016-03-01 22:50] #4 closed

[2016-03-06 00:34] ms705 opened #39 "Dynamic equivalence class sets are not supported"
Our current implementation will exhibit undefined behaviour if a task's equivalence classes change over time. In other words, we assume that the set of ECs for each task is (a) deterministic in the task's fixed properties, and (b) consequently does not change over time.

None of our current scheduling policies (cost models) have dynamic EC sets, but we may want to have them in the future. (For exa

[2016-03-10 03:02] ms705 commented on #34
This had been long since fixed already, but I've now ported the examples build to CMake as well, and improved error reporting for the kind of situations encountered when using the example binaries with statically linked TaskLib. Resolving :)

[2016-03-10 03:02] #34 closed

[2016-03-12 02:53] WIZARD-CXY opened #40 "submit job error"
Hello,When I get firmament up and running and try to use
`
python scripts/job/job_submit.py localhost 8080 /bin/sleep 60
`

The command failed with below error.
`
Traceback (most recent call last):
  File "scripts/job/job_submit.py", line 1, in <module>
    from base import job_desc_pb2
ImportError: No module named base
`
And I run the command `make` in the script directory, it complained as no ma

[2016-03-12 03:50] ms705 commented on #40
Hi!

Thanks for reporting this, we'll take a look. Sounds like we may have introduced a bug when porting the protobuf compilation for the job scripts to CMake recently.

Try running `make scripts_job` in your build root (`firmament/build` if you followed the README) -- this might generate the scripts in the right place.

[2016-03-12 04:13] ms705 commented on #40
d881e062d5ba75be481c1023359369e518d940c4 introduced a new CMake target `scripts_job` that superseded the old Makefile for the job submission script directory. However, the changes in d881e062d5ba75be481c1023359369e518d940c4 failed to add a dependency on the `scripts_job` target, so it does not build by default. [CL 265995](https://review.gerrithub.io/#/c/265995/) fixes this.

The README also erron

[2016-03-12 04:23] ms705 commented on #40
Merged. Thanks for reporting this! :)

[2016-03-12 04:23] #40 closed

[2016-03-12 06:20] WIZARD-CXY commented on #40
It works

[2016-03-13 20:34] ICGog opened #41 "AddResourceTopologyDFS doesn't fail when we try to add a resource twice."
AddResourceTopologyDFS silently updates the topology when called twice on the same resource. It should crash upon second call, but it cannot do that for now because the Coordinator doesn't fully adhere to the single call per resource policy.

[2016-03-15 17:25] ms705 commented on #39
@ICGog I believe 5c1c6397617d75d28db3090a97430f771cb57dcf fixed this -- correct?

[2016-03-15 18:11] ICGog commented on #39
Yes, that's correct.

[2016-03-15 18:11] #39 closed

[2016-03-16 02:02] ms705 commented on #21
[CL 266326](https://review.gerrithub.io/#/c/266326/) addresses this, but we're planning on moving to a unified Quincy cost model that abstracts the distributed file system through a universal interface that works for the simulated GFS (in simulation) and real-world HDFS (when running on real clusters).

I'll leave the issue open until this is implemented, but change the title to a more accurate on

[2016-03-16 05:55] resouer opened #42 "Is there roadmap about integrate this with Kubernetes?"
Just as title said, I did not find any roadmap doc to describe when/how to integrate this with Kubernetes project.

[2016-03-16 22:02] ms705 commented on #42
Hello,

Our Kubernetes integration work is happening in the [Project Poseidon](https://github.com/camsas/poseidon/) repo, while this one contains the core Firmament scheduler code and our research cluster manager (the confusingly-named `coordinator` build target).

Discussion of the Kubernetes port should happen in the Poseidon repo, but to answer your question: our road map for this is that we'll

[2016-03-16 22:02] #42 closed

[2016-03-20 18:11] ms705 commented on #21
I believe this is fixed as of [CL 266533](https://review.gerrithub.io/#/c/266533/) (0b8305f3e25c02d0a87349a86e4678bc06f20344). Good to close?

[2016-03-20 18:12] ms705 commented on #20
Is this still current given the recent Quincy cost model overhaul?

[2016-03-20 18:12] ICGog commented on #21
Yes, we've merged them.

[2016-03-20 18:12] #21 closed

[2016-03-20 18:13] ICGog commented on #20
Nope. It has been fixed.

[2016-03-20 18:13] #20 closed

[2016-05-03 12:06] WIZARD-CXY opened #43 "coordinator start failed"
I use the latest code and want to run the coordinator on ubuntu14.04, but failed, the error msg is
[code]
I don't have hdfs and want to run on local filesystem storage，any help ??

[2016-05-03 13:21] ms705 commented on #43
Hi! Thanks for reporting this.

The issue is that our HDFS integration is enabled in the default build (we should probably change that), and the HDFS client is trying to connect to a local HDFS NameNode (as you guessed).

You can get rid of it by passing `-DENABLE_HDFS=off` to the `cmake` invocation that you use to set up your build tree.

I guess we should add a flag that allows you to turn off H

[2016-05-03 13:24] WIZARD-CXY commented on #43
Thanks for your quick reply！
I will give it a test tomorrow

May the force be with you

[2016-05-04 01:39] WIZARD-CXY commented on #43
It works, thank you! I'm closing it.

[2016-05-04 01:39] #43 closed

[2016-05-04 01:46] WIZARD-CXY commented on #30
Now I met this issue, the coordinator just uses 100% cpu
![2016-05-04 9 41 45](https://cloud.githubusercontent.com/assets/2142864/15003290/0840eff0-11dd-11e6-86d3-f5d579e78d99.png)

[2016-05-05 05:12] WIZARD-CXY commented on #30
ping @ms705 Is there updates in this issue?

[2016-05-12 16:40] ms705 commented on #30
Hi @WIZARD-CXY,

Sorry for the delayed response -- we've been bogged down with a bunch of paper deadlines recently.

This issues is still outstanding. Our plan to fix it is to replace our own home-baked, polling RPC layer with [gRPC](http://www.grpc.io/), which will fix the spinning. However, it will take us a while to implement this.

In the meantime, you can work around the issue by adding a `sl

[2016-05-13 11:40] WIZARD-CXY commented on #30
@ms705 Thanks, I will give it a shot tomorrow!

[2016-05-16 07:17] WIZARD-CXY commented on #30
![2016-05-16 3 14 48](https://cloud.githubusercontent.com/assets/2142864/15282907/0a0a6712-1b79-11e6-8969-263a3a0ad2a8.png)
Is this the right trick?I added usleep above. but the coordinator still using 100% cpu @ms705

[2016-05-16 16:10] ms705 commented on #30
@WIZARD-CXY Ah -- this workaround only works if there actually are any channels (i.e., other running coordinators or running tasks). Otherwise, the code falls into the early exit condition on line 59 and you spin until channels show up.

Here's a patch that works even when there are no channels (with the same provision re RPC latency as above):
[code]
In other words, add the `usleep` invocation to

[2016-05-18 06:29] WIZARD-CXY commented on #30
It works now@ms705, thanks

[2016-06-17 03:14] cxxly opened #44 "short description about your work"
I have read your Phd thesis, it is brilliant. But it is too difficulty to understand all of things , is there some concise description about your work that everyone can understand easily. I think that wil make the project more attractive.

[2016-06-17 16:17] ms705 commented on #44
Hi @cxxly,

Thanks! We definitely agree that reading the PhD thesis is not the best way to find out how Firmament works ;-)

We've been working on a shorter paper about Firmament, which is currently under anonymous submission. As soon as we know what outcome of its review, we will make it publicly available -- however, you can shoot us an email at firmament@camsas.org if you would like a private c

[2016-06-19 03:12] cxxly commented on #44
Thanks for your reply @ms705

Currently, I do some research based on your work, but focus on **container scheduling**. Here are some problems confused me:

1. What is features? What is policies? and what is cost model?  And  What is the relation between them.
2. What is the boundary of different features and how they combine. Currently, user who want to use firmament must  be  understand and imple

[2016-06-26 07:36] cxxly opened #45 "Dockerfile build issues"
I try to install firmament on centos7 and ubuntu14.04, but finally failed. It requires so many dependencies which must be installed one by one. Is there any easily solution(such add a dockerfile) or more detailed description about how to install firmament.

[2016-06-26 14:55] ms705 commented on #45
There's a Dockerfile [in the contrib directory](https://github.com/camsas/firmament/blob/master/contrib/docker/Dockerfile), which ought to work. It's based on an Ubuntu 14.04 userspace; we've also recently tested 16.04 and found it to work.

Building on CentOS is likely tricky -- last time we tried, many dependencies had to be compiled from because the CentOS packages were way outdated. We're happ

[2016-06-26 15:07] ms705 commented on #44
Hi @cxxly,

Sorry for the delayed response! Awesome to hear that you're working on a SwarmKit integration -- we're more than happy to help with that if you get stuck.

Here are the answers to your questions:

 1. In Firmament, a *cost model* _defines a scheduling policy_ by defining the structure of the flow network which Firmament optimizes and by assigning costs and capacities to arcs. Firmament

[2016-06-27 10:21] cxxly commented on #45
Thanks @ms705
There are some errors when I build dockerfile:
[code]

[2016-06-27 11:37] cxxly opened #46 "HdfsNetworkConnectException: Connect to "localhost:8020" failed"
I deploy firmament according to "Getting started" tutorial. When I start firmament, I come accross follow errors. I don't familiar with hdfs, so forgive me if I miss some steps.
[code]

[2016-06-27 23:20] ms705 commented on #46
Hi @cxxly,

Ah, this happens because Firmament cannot find the HDFS name node (which it uses for data-local scheduling). By default, it assumes that the name node is at `localhost:8020`, and this can be customized via command line flags. In your case, however, you probably want to turn the HDFS integration off.

To work around the immediate issue, you can rebuild and pass `--DHDFS_ENABLE=off` to t

[2016-06-27 23:32] ms705 commented on #45
Hi @cxxly,

Thanks for reporting -- we'll look into this. Seems like there's a name clash between a CMake target and a directory, although it's strange that we didn't see this in our testing environment.

As a workaround, you can remove the `examples` directory from the [CMake targets](https://github.com/camsas/firmament/blob/master/src/CMakeLists.txt#L6) and re-try.

[2016-06-28 08:43] ICGog commented on #46
I've pushed a patch [282024](https://review.gerrithub.io/#/c/282024/) that fixes your issue.

[2016-06-28 15:02] ms705 commented on #46
I think we should also change the `HdfsDataLocalityManager` to print an error and fail gracefully if the HDFS NameNode cannot be reached, so that one can compile with HDFS support enabled.

I'll take a look.

[2016-06-28 20:47] ms705 commented on #46
Patch now under review in [282133](https://review.gerrithub.io/#/c/282133/).

[2016-06-28 21:42] ms705 commented on #45
This was due to a name clash between CMake executable targets and subdirectories, and only happened when doing an in-tree build (as the Dockerfile does).

Fix under review in [282138](https://review.gerrithub.io/#/c/282138/).

[2016-06-29 00:58] cxxly commented on #46
Look Good to Me :+1:

[2016-06-29 16:52] #46 closed

[2016-06-30 15:53] cxxly commented on #44
Hi @ms705
Thanks.
I have found coco cost model support so many features which include priority preemption and interference awareness.  I want to konw  how dose it avoid conflicts of these features ? I cann't understand clearly from your thesis.
![](http://i.imgur.com/DhMDxOC.jpg)

[2016-06-30 22:15] ms705 commented on #44
Hi @cxxly,

In the CoCo cost model, priority takes precedence over interference avoidance, since it forms the dominant term of the cost vector (see p. 149, bottom and [here](https://github.com/camsas/firmament/blob/master/src/scheduling/flow/coco_cost_model.cc#L283-L284)). In other words, a task will be priority preempted by a higher-priority task even if it ends up re-scheduling in a place where

[2016-06-30 23:35] ms705 commented on #45
Fix merged, Docker build now passes.

[2016-06-30 23:35] #45 closed

[2016-07-10 08:36] cxxly opened #47 "Resource allocation of firmament"
Hi:

As far as I know,  there are two ways to allocate resource:
1. Coarse granularity： Partition machine into fixed-size slots, and every slot can run one task, such as Hadoop.
2. Fine-grained resource allocate like Brog. (Borg users request CPU in units of milli-cores, and memory and disk space in bytes)

I have seen that both your work and Quincy use constant integer K to represent the capacity

[2016-07-14 07:53] ms705 commented on #47
Hi @cxxly,

Sorry for the delayed response -- I'm currently travelling. I'll respond in more detail a bit later.

The bottom line is this: Firmament does use "slots" in the sense that each running task "uses" a leaf of the resource topology (= a PU/CPU core). This makes it easy to implement slot-based allocation policies, but does not mean that you *must* use slots.

Instead, you can see the leave

[2016-07-21 11:18] cxxly commented on #47
Thanks! @ms705

I 'm interested in @joshbambrick  work, is there any published paper I can learn.

And I have some question about admission control in COCO cost model, I will open a new issue.

[2016-07-28 16:50] ms705 commented on #47
Hi @cxxly,

We're going to have a blog post on @joshbambrick's work soon; if you're interested in a longer writeup, his BA dissertation is available [here](https://www.cl.cam.ac.uk/~ms705/projects/dissertations/2016-jpb80-vilfredo.pdf).

Did you end up opening a new issue about the CoCo admission control questions? I don't see any, but I may have missed it while travelling.

[2016-10-12 06:26] shivramsrivastava opened #48 "Crash if sysfs network speed pseudofile is unavailable"
We have Ubuntu VM's Created on OpenStack.
The build went fine, but the coordinator crashes with this error message.
Because this file '/sys/class/net/eth0/speed' has no data and is read by the function 'GetMachineCapacity'.

The following is the error message:

[code]

Relevant source code:

[code]

Is this an issue with our machines or a problem with the firmament?

I did the following workaround

[2016-10-12 12:30] shivramsrivastava opened #49 "Code flow/documentation"
It will be great if there is some documentation on the code flow.
I tried with Doxygen, but it was not generating any docs :-(
If you can give some pointer like what are the main structures, and where to start it will great.

Is there any reason you chose c++, which other languages like golang or python can't do?
Do you have any plans on porting to other languages, if all the said features are ach

[2016-10-12 14:53] ms705 commented on #48
Hi @shivramsrivastava,

Thanks for reporting this! The issue you're experiencing is likely related to the name of the network device on your OpenStack VM. By default, Firmament assumes that your primary network interface is called `eth0`, but this is often not the case on VMs.

You can change the interface name Firmament uses by setting the `--monitor_netif` flag to the right interface name. For e

[2016-10-13 09:05] shivramsrivastava commented on #48
This is the error message we are getting.
Looks like we don't have read permission to some files in the 'sysfs' files system.

sudo build/src/coordinator --listen_uri tcp:10.11.12.111:9091 --task_lib_dir=$(pwd)/build/src/
F1013 07:37:29.912360 23158 procfs_machine.h:64] Check failed: fscanf(input, "%ju ", x) == 1 (-1 vs. 1) **Failed to read unsigned int: Invalid argument**
*** Check failure stack

[2016-10-13 15:16] ms705 commented on #48
Hi @shivramsrivastava,

No, BIOS changes should not be required; the `sysfs` permissions are purely a Linux software setting, and what happens when reading or writing the files in `sysfs` is driver-specific.

I've managed to reproduce your issue in an OpenStack VM, and it looks to me as though it isn't a permission issue (anyone can read `/sys/class/net/eth0/speed`), but rather a problem with the

[2016-10-13 15:39] ms705 commented on #49
Hi @shivramsrivastava,

Thanks for asking! You're quite right that more documentation would be helpful :-) As a small research project primarily developed by two people with only 24 hours in the day, we've never had time to write extensive documentation. However, we're trying to, in general, write well-commented code, especially in header files defining key interfaces (e.g., [cost models](https://

[2016-10-17 08:26] cxxly commented on #47
Hi @ms705

I‘m really sorry for the delayed response. I’m very busy nowadays for my graduation.

I will open a new issue later.

[2016-10-25 18:10] ms705 opened #51 "Segfault on job submission after protobuf3 transition"
As reported by @shivramsrivastava in #50:

We are getting this following error after we refreshed our branch with the latest changes we are getting a SIGSEGV.

[code]

Line where the error occurs.
[code]

Content of 'job_descriptor_param'.

[code]

This error relates to the protobuf3 transition: the job submission script still generates Python code using protobuf2, and the text format therefore be

[2016-10-26 16:26] ms705 commented on #51
Having dug into this, it looks like we're facing a deeper issue here -- simply moving to protobuf3 for the job submission script did not help. Decoding a text format or JSON format protobuf sent via HTTP fails with a segfault inside protobuf for me no matter what I do. I'm working on a smaller test case for this, so that we can insolate the responsible piece of code (which could be the pion web se

[2016-10-26 18:47] shivramsrivastava commented on #51
@ms705 I wrote a job submission code in go, same as the Python code.
While submitting the job I get a 500 error code(internal server error).
I will fix that issue tomorrow and test it.
Then we can confirm if the problem is with the job script.

[2016-10-26 20:01] ms705 commented on #51
@shivramsrivastava I've actually managed to pin this down -- a change fixing the issue is coming.

The problem was related to an old protobuf2 header being used by one of the libraries we link (`pb2json`). Since we don't need that library any more now that protobuf3 has native JSON support, it can be removed.

[2016-10-26 20:24] ms705 commented on #51
Fix now under review in [299814](https://review.gerrithub.io/#/c/299814/).

Note that this change also moves the job submission script to using JSON -- you will probably want to update your Go code to do the same.

[2016-10-26 21:11] #51 closed

[2016-10-31 08:22] dalanlan opened #52 "Circular dependencies during `make` process"
I was involved into a small issue during `make` process in the following, which maybe I shouldn't have popped it up here.

[code]
The problem is shown below,
[code]
basically I suspected that it's a circular dependencies issue, and I think that some required knobs are needed for Makefile. I tried [this](https://github.com/stevengj/libctl/issues/1) and other similar solution, yet no luck.
Any sugge

[2016-11-01 03:57] ms705 commented on #52
Hi @dalanlan,

We haven't seen this issue before, but it sounds like there's something wrong with the libraries being linked. To better debug this, can you let us know some information about your setup, e.g., which version of Ubuntu you're running, what architecture you're on, and whether you have the `libpthread-stubs0-dev` and `libgflags-dev` packages installed. Can you please also share the out

[2016-11-01 03:58] ms705 commented on #48
PR #50 has a solution to this problem, currently under review.

[2016-11-03 01:18] dalanlan commented on #52
@ms705 Thanks so much for your help.
I've found a way out of the previous issue myself, yet trapped into another headache shown below.
[code]
And
[code]
And the fact is I've installed `GLOG`, `GFLAGS` and `ctemplate` manually, which causes a little trouble. Yet I didn't have a good luck with /script/fetch-externals.sh though (I guess the main reason is that I live in China and could have a network

[2016-11-03 04:16] WIZARD-CXY commented on #52
@ms705 I build a docker image with base os ubuntu 14.04, and finish doing fetch-externals.sh. software like boost is already in the image. All new developers have to do is "cmake and make", just wanna do a little contribution to this project. I think it makes easier to set up a new developing environment.  The image is here https://hub.docker.com/r/wizardcxy/firmament/

[2016-11-07 15:16] ms705 commented on #52
Thanks for the comments and the Docker image! We've tried to improve the build system (e.g., in ) to better notify developers of missing libraries, but the boostrap can still be a bit painful.

`fetch-externals.sh` is an old script that we used before moving to the CMake build system, and it will be removed soon (and replaced by a package installation script for Ubuntu).

@dalanlan: This sounds li

[2016-11-08 04:40] WIZARD-CXY commented on #52
@ms705 your Dockerfile is good, sorry for not noticing, if there is a public docker image that developer can pull is better

[2016-11-09 18:37] ms705 commented on #48
Fixed in 3aeb8d4094c6805f8b904b777c54ac349e491df4, so closing.

[2016-11-09 18:37] #48 closed

[2016-11-10 00:14] dalanlan commented on #52
@ms705

[code]

[2016-11-17 11:41] ICGog commented on #52
@dalanlan We have updated the script that installs Firmament's dependencies. Can you please go to your Firmament root directory and run the following:
`git pull ; ./scripts/install_packages.sh ; make ; cd build; make`

Please let us know if it works. Alternatively, you could just install your missing dependency by running `sudo apt-get install libboost-filesystem-dev`.

[2016-11-19 02:20] dalanlan commented on #52
It works! Thank you so much.

[2016-11-19 02:20] #52 closed

[2017-01-16 22:05] SecurityInsanity opened #53 "Best Way to schedule multiple workers?"
I notice in the documentation you've written:

[code]

Yet you've also written:

[code]

It seems to imply here that we can create multiple coordinators (such as 3), yet also seems to imply we can only have two coordinators running.

Starting three schedulers in the pattern:

tcp:10.36.75.73:8000 (no parent uri)
tcp:10.36.65.78:8000 (--parent-uri tcp:10.36.75.73:8000 )
tcp:10.36.71.204:8000 (--par

[2017-01-16 22:11] ms705 commented on #53
Hi @SecurityInsanity,

You can definitely have any number of coordinators, not just two (we've routinely run Firmament with up to 40).

The pattern in which you start them up is also correct (modulo the command line parameter being called `--parent_uri`, IIRC). Do your machines have different hostnames? Some places in the system use hostnames, so if they have the same default hostname, incorrect i

[2017-01-16 22:14] SecurityInsanity commented on #53
Hey @ms705 ,

Thanks for following up so quickly!

Hmmm I do believe:
[code]
Both have the exact hostname, I'll go change those up, and if it still seems fishy I'll go ahead, and send you some verbose logging.

[2017-01-16 22:52] SecurityInsanity commented on #53
Yep, setting unique hostnames seemed to work @ms705 . Thanks much, and great work :wave:

[2017-01-16 22:52] #53 closed

[2017-02-01 03:57] SecurityInsanity opened #54 "Starting Worker Nodes with Flow Based Scheduling can cause fatal exception"
When you start a "master" node, and a "worker" node both using the flow scheduler (e.g.:

Master node starts with:

[code]

and Worker node starts with:

[code]
),

and submit a job (for example: `python job_submit.py localhost 8080 /bin/sleep 60` (on the master node)). It leads to a crash inside the worker node.

Talking to @ms705 it seems the root of the problem lies in the worker nodes recalcul

[2017-02-02 16:58] ms705 commented on #54
This issue arises due to bugs in the code that handles delegated tasks: the flow scheduler does not correctly maintain its data structures w.r.t. tasks that were placed on local resources by a superior coordinator.

We didn't previously notice this because we used a single flow scheduler in the cluster -- the flow scheduling approach works best when the whole cluster state is visible to the schedu

[2017-04-02 17:34] ms705 commented on #36
Closing as probably irrelevant by now -- most people use 16.04 LTS or later.

[2017-04-02 17:34] #36 closed

[2017-04-26 02:10] yingfeng opened #55 "Integrating affinity/anti-affinity aware policy into firmament"
Kubernetes has already supported inter-pod affinity/anti-affinity within its native scheduler, however, such an important feature could not be found within firmament. Another limitation is the support of task preemption, until now TaskPreemptionCost is still empty.

So when the features of affinity/anti-affinity, as well as task preemption could be supported by firmament? And if possible, could te

[2017-04-26 14:43] timothysc commented on #55
It's my understanding that folks may already be working on some of this.

/cc @quinton-hoole

[2017-04-26 15:11] quinton-hoole commented on #55
@timothysc Yes, @deepak-vij can provide details.

[2017-04-26 17:17] deepak-vij commented on #55
Yes we do have a conceptual design for supporting affinity/anti-affinity using Firmament scheduler within Kubernetes. Although, it is quite premature to share these details at this time. We are planning to open source this whole work in the coming months and will start sharing details with the community in due course.

At this time, we are currently stabilizing the integration glue code “Poseidon”

[2017-04-26 17:49] ms705 commented on #55
@yingfeng Task preemption is supported in the existing code base: if a task's unscheduled cost exceeds the unscheduled cost another (running) task would experience if preempted, Firmament will preempt the second task and schedule the first. The mechanics of this have not been tested extensively in the standalone cluster manager, but should work. In the Kubernetes integration, preemption is not yet

[2017-04-26 17:59] deepak-vij commented on #55
Hi Malte, good to hear from you. I am sure you are aware that we are collaborating with Ionel on this effort. Thanks.

Deepak

[2017-04-27 00:21] yingfeng commented on #55
@ms705 @deepak-vij
Thanks for your explaination, hope these features could be available to be integrated into K8S asap~

[2017-05-04 10:12] ICGog opened #56 "EventDrivenScheduler should not use executors."
The EventDrivenScheduler instantiates executors, manages and calls them. However, the scheduling logic should only make scheduling decisions. It should be agnostic of the types of executors needed to run the tasks.

[2017-06-10 12:34] xiechengsheng opened #57 "Some questions about the trace simulator"
@ms705 Hi, I read yours OSDI paper and see that you used the google trace workload to test the firmament scheduler's task placement latency and the job response time. And I see the trace data csv file includes job and task's metadata, so my question is:

1. Can the google trace data be used to test the task/job finish time in one machine? The simulator is just a process that simulates the schedule

[2017-06-12 07:24] shivramsrivastava opened #58 "In gunit tests, factor out setup steps into common helper methods that will make the test code easier to maintain."
A lot of the new tests have very similar setup steps (add job, add task, add machine/PU). These could be factored out into common helper methods that will make the test code easier to maintain.

[2017-08-18 09:28] CHENLIELIE opened #59 "build error"
hello Malte and everyone, I got a problem when I build the firmament. After 'make' in build dir, it return 'flowlessly-download error', but, when I use 'git clone https://github.com/ICGog/Flowlessly.git', it works well. The flowlessly-download-err.log as follows:
fatal: unable to access 'https://github.com/ICGog/Flowlessly.git/': gnutls_handshake() failed: Error in the pull function.
Besides, when

[2017-08-18 16:48] ms705 commented on #57
Hi @xiechengsheng,

Sorry for the late response -- I must have somehow missed this issue.

Here are the answers to your questions:
 1. The simulator does simulate task execution, but takes the task runtime from the trace. It has events for task and job completion, but they are based on the real runtimes recorded in the trace, so they do not reflect the uncertainty and variance in a real execution.

[2017-08-18 16:52] ms705 commented on #59
Hi @CHENLIELIE,

This most likely sounds like a network issue at your end, unfortunately -- for example, a firewall that's intercepting or rate-limiting HTTPS requests. The build scripts do clone a lot of repositories in quick succession, which might trigger these kinds of things.

Where are you trying this from? Does it persist if you run on a cloud network, e.g., on EC2?

[2017-08-21 08:25] CHENLIELIE commented on #59
Thanks for your reply, Malte. Maybe it's my network issue, sometime, Flowlessly can be download, sometime it failed. But the grpc always can't be download, I found that a ‘https://‘ can't be accessed in my environment. so, I used the docker instead, but when I execute 'python job_submit.py localhost 8080 /bin/sleep 60', it failed, too. It gives the 'ImportError: cannot import name label_pb2', I fo

[2017-08-22 15:32] ms705 commented on #59
This sounds like the protobufs aren't compiled for Python. Try running `make` in the `scripts/job/job_submit.py` directory, maybe?

[2017-08-23 07:21] lilelr opened #60 "hello world task failed!"
hi Malte and everyone, I got a problem when I try to run the 'hello word' example after installing firmament on a virtual machine of Ubuntu 14.04. I had built firmament from source and all 'ctest' tests had been passed successfully. I started up by using the command
`./build/src/coordinator --listen_uri tcp:127.0.0.1:8081 --task_lib_dir=$(pwd)/build/src/`
 , then I could successfully observe the f

[2017-08-25 02:48] CHENLIELIE commented on #60
hello, lilelr. How do you install from source code? Is there anything with downloading of grpc? Did you used vps or vpn? thanks.

[2017-08-28 09:02] lilelr commented on #60
haha, maybe CHENLIELIE you are also China. A week ago, I succeed in downloading grpc. But now when I try to build firmament from source code on a new machine, it cannot work because it fails to download the boringssl from a google server.

[2017-08-28 12:22] ms705 commented on #60
Hi @lilelr,

The most likely reason for this problem is that the task doesn't report back to the coordinator once it has started up. A common reason is that the `--task_lib_dir` parameter is incorrect and the `LD_PRELOAD` fails to inject the task communication library into the binary.

There are several ways you might deal with this:

 1) If you haven't, look at the stdout and stderr of the task b

[2017-08-28 12:23] ms705 commented on #59
@CHENLIELIE Did this problem get resolved?

[2017-08-28 12:30] CHENLIELIE commented on #59
sorry for reply, Malte. I also think that the problem is caused by protobufs and Python, but I don't know how to solve it. I have try build new python  and build new protobufs for python. Besides, there are no makefile under scripts/job/job_submit.py directory, it's right?

[2017-08-28 12:35] ms705 commented on #59
The relevant code in the CMake build system is here:
https://github.com/camsas/firmament/blob/master/scripts/job/CMakeLists.txt#L9-L14

This should generate a Makefile in `build/scripts/job` (i.e., inside the build hierarchy, not the main code directories).

What platform are you running on? The build system will try to use its own local version of Protobuf3 to compile the protocol buffers, but we

[2017-08-28 12:48] CHENLIELIE commented on #60
@lilelr yes, your guess is right. I have found the reason why I can't build successly, it's my company's network issues which can't access foreign website and forbid shadowsocks. In my individual computer, if using shadowsocks, it can download successly, if not, it will fail. But I meet to another problem in build grpc, it give the error of "can't found -lpthreads". What library file does it lack?

[2017-08-28 12:54] CHENLIELIE commented on #60
@lilelr yes, your guess is right. I have found the reason why I can't build successly, it's my company's network issues which can't access foreign website and forbid shadowsocks. In my individual computer, if using shadowsocks, it can download successly, if not, it will fail. But I meet to another problem in build grpc, it give the error of "can't found -lpthreads". What library file does it lack?

[2017-08-29 08:42] lilelr commented on #60
@ms705,
Thank you very much for your answer. But I still have trouble running the 'hello world' task.
By adding `--task_lib_dir=/home/lilelr/firmament` (absolute path) to the command starting up a coordinate, the job `/bin/sleep 60`  successfully completed. However, the tasks of the 'hello world' or 'timespin' job still failed. I still used the cmmand
`python job_submit.py localhost 8080 /home/lil

[2017-08-29 11:38] ms705 commented on #60
@lilelr,

The problem is likely the fact that the Hello World example binary links the task communication library statically, but Firmament then also tries to inject it via `LD_PRELOAD` for dynamic linking.  One thing you could try is to change [line 38](https://github.com/camsas/firmament/blob/master/scripts/job/job_submit.py#L38) of the `job_submit.py` script to:
[code]
... and see if that resol

[2017-08-30 04:05] lilelr commented on #60
@ms705,
After I changed `job_desc.root_task.inject_task_lib = False`, I ran the hello world example again and soon the log info showed that the task still has failed.
![snip20170830_1](https://user-images.githubusercontent.com/7194641/29854385-39846426-8d78-11e7-90b9-b86a6de2ac59.png)
But the task stdout successfully printed 'Hello world (stdout)!'. And the task stderr shows a Segmentation fault a

[2017-09-01 09:55] CHENLIELIE commented on #59
Thanks for your help, Malte. I have built the firmament successfully. I installed other boost library, it worked well, thanks.

[2017-09-06 15:14] ms705 commented on #60
I'm not sure what causes the segfault; note however that it only occurs once the task is shutting down.

I suspect the reason that a task failure is reported here is actually that the "hello world" task exits so quickly that its monitor thread doesn't even get around to sending a status update to the coordinator. You can probably work around this by adding a `sleep()` invocation to below the code

[2017-09-06 15:15] ms705 commented on #59
Great! Closing this.

[2017-09-06 15:15] #59 closed

[2017-09-07 02:39] #57 closed

[2017-09-10 01:36] lilelr commented on #60
@ms705 ,
Thanks for your good advice. Now the "hello world“ example successfully completed on a single machine(Ubuntu 14.04). I changed the codes as you suggested. First, I modified the job_sumbit.py by changing `job_desc.root_task.inject_task_lib = False`. And the picture below shows that I let the task thread sleep 70s (line 27) before printing "hello world".
![snip20170910_2](https://user-image

[2017-09-27 17:12] ms705 commented on #60
@lilelr Sorry for the delayed response.

I suspect the coordinator failure you saw is because it sounds like *both* your parent and your child coordinator are using the flow scheduler. While this ought to work in principle, it's not a setting we've tested. The easiest way to work around this is to use the `simple` scheduler on the child coordinator. This will have no impact on the goodness of sche

[2017-09-29 06:52] lilelr opened #61 "How to repeat the experiments in OSDI 2016 paper using Firmament"
Hello, @ms705.

I read your OSDI 2016 paper “Firmament:fast, centralised cluster scheduling at scale”. I plan to replay the experiments in your paper, but I was confused by the following  questions.

1 The first experiment I want to replay is the experiment described in Figure 7 in your paper. The experiment is to  get average runtime for MCMF algorithms on clusters of different sizes subsampled f

[2017-10-08 08:52] ICGog commented on #61
Hi @lilelr,

It's great to hear that you're trying to replicate our experiments. Hopefully, the following answers are going to help you.

1.a. Firmament uses the [Flowlessly](https://github.com/ICGog/Flowlessly) min-cost flow solver which implements the different min-cost flow algorithms. However, only some of the algorithms (cycle canceling and successive shortest path are publicly available), bu

[2017-10-09 07:12] lilelr commented on #61
@ICGog, thank you very much for your kind answers. As you mentioned, I need the codes of fast_cost_scaling and relaxation algorithms to replicate your experiments. So how could I get a complete version of Flowlessly with all min-cost flow algorithms? If there is any application form of academic research I have to fill, please send it to my email lilelr@163.com.

If there are other routes to get a

[2017-11-02 03:15] lilelr commented on #61
@ICGog , @ms705 , I used your experiment configuration files to replicate the experiment of Figure 7, the result as the following picture shows is different from that in your paper.
![snip20171102_2](https://user-images.githubusercontent.com/7194641/32307582-2508b0f2-bf4f-11e7-945c-8df406d1f610.png)
Cycle canceling and successive shortest path are from The [Flowlessly](https://github.com/ICGog/Flo

[2017-11-19 19:56] ms705 commented on #61
Hi @lilelr -- sorry about the delay, we'll get back to you this week.

Note that our relaxation experiments didn't use Relax IV, but rather the custom Flowlessly relaxation implementation, which made several improvements over Relax IV. We can make the code for this implementation available to you.

[2017-11-19 20:03] ms705 commented on #60
@lilelr Did this get fixed / did my suggestions help? If so, can we close the issue?

[2017-11-24 07:25] lilelr commented on #61
@ms705, @ICGog , thanks for your help. Have you sent the complete codes of Firmament to me via lilelr@163.com or  ll.li@siat.ac.cn? Or could you tell me how I could get it?

[2017-11-27 05:54] #60 closed

[2017-11-28 09:46] ICGog commented on #61
@lilelr Sorry for the delay! I've sent you an email with the source code. Let us know if you encounter any issues in reproducing the experiments.

[2018-01-02 11:47] wybgithub opened #62 "Received implausibly large message from tcp error"
When I execute the following command
wyb89@ubuntu:~/soft/firmament-master$ ./build/src/coordinator --listen_uri tcp:localhost:8080 --task_lib_dir=./build/src
and then type in "localhost:8080" in my browser
I get following errors
E0102 03:07:12.235633 32499 coordinator_http_ui.cc:1323] Failed running the coordinator's HTTP UI due to bind: Address already in use
F0102 03:07:37.936508 32502 stream_so

[2018-03-08 13:19] shivramsrivastava opened #64 "Implementing pod anti-affinity"
We have tried to implement a new cost model by referring to the net cost model. The new cost model named "CPU mem cost model" considers CPU and memory requirements for scheduling instead of network bandwidth. And we have designed and implemented soft constraints on top of this CPU mem cost model.

Please refer the [**design document**](https://docs.google.com/document/d/1xvPscFIZ6AJUgL0GdCx-LL6E8j

[2018-03-08 17:31] ms705 commented on #61
I'm assuming this is sorted, reopen if any questions remain.

[2018-03-08 17:31] #61 closed

[2018-03-08 17:34] ms705 commented on #62
Hi @wybgithub,

Sorry for the delay, we must have overlooked this issue.

It looks like you're passing port 8080 as the port for Firmament's internal protobuf RPCs, rather than as `--http_ui_port`. If you try to send an HTTP request to the internal RPC port, Firmament will try to deserialize the request as an RPC and get confused. You should use a separate port (default is 9999) for the internal R

[2018-03-08 17:38] ms705 commented on #64
I will try to take a look at this over the weekend; please ping me next week if you haven't heard back by then.

[2018-03-09 00:31] deepak-vij commented on #64
That would be great Malte, appreciate it. We tried extending the XoR flow network construct based approach for solving Pod anti-affinity constraints as mentioned in Ionel thesis in conjunction with our new multi-dimensional CPU/memory cost model. The CPU/Memory cost model uses multiple ECs in order to distribute the incoming Pods evenly across filtered/relevant machines.

It would be really great

[2018-03-12 17:38] deepak-vij commented on #64
Hi Malte/Ionel, a friendly ping to find out if you folks had a chance to review the code we pushed a week or so ago. Thanks.

- Deepak

[2018-03-13 04:45] ICGog commented on #64
Can you change the permissions of the design document so that we can comment on it?

[2018-03-13 05:30] shivramsrivastava commented on #64
@ICGog can you please check now?

[2018-04-07 21:18] deepak-vij opened #65 "Solving Affinity/Anti-Affinity Complex Constraints Problem"
Hi Ionel & Malte, we are creating this issue to bring to your attention the issues we are running into while implementing “xor” flow construct for pod-to-pod anti-affinity functionality.

As regards to “and” flow network construct, it seems current min-cost flow solver needs to be enhanced to generalized min-cost flow network based solver. We are not sure at this time how to go about accomplishing

[2018-04-12 12:02] m1093782566 commented on #64
cool!

[2018-04-12 12:02] m1093782566 commented on #65
/cc

[2018-04-25 16:17] marceloamaral opened #66 "Failed to run the simulator"
Hi, after running the simulation with synthetic trance, all the generated trace files are empty. Is that right?
As far as I understood, the simulation results should be written in those files. So, I think the simulation is not really running, and most probably I am missing some configuration... Could you please help me?

I have tried the solvers (cs2 and flowlessly), and the cost models (0 and 6).

[2018-04-25 17:36] marceloamaral commented on #66
I am trying to debug the simulation, and I found that the "scheduler_stats->algorithm_runtime_" is getting 0.
Which represents 0 microseconds. So, or the simulation is not sending the correct data to the solver, or the solver is not properly working. How can I verify that?

[2018-04-25 17:40] marceloamaral commented on #66
I am trying to debug the simulator, and just after the solver, I got the values of *scheduler_stats as {algorithm_runtime_ = 0, scheduler_runtime_ = 45335909, total_runtime_ = 0}
Is that right? the algorithm_runtime_ and the total_runtime_ with 0 values?

[2018-04-25 17:46] marceloamaral commented on #66
I just saw in the code that // CS2 doesn't export algorithm runtime.
However, I am still getting corrupted double-linked after 2380 iterations...

[2018-04-27 12:38] marceloamaral commented on #66
It seems that the problem is related to load the machine template.
The function "machine_tmpl->ParseFromFileDescriptor(fd)" is failing; but I am not sure why it is not reading the file properly...

[2018-04-27 14:59] #62 closed

[2018-04-27 15:01] ms705 commented on #66
Hi @marceloamaral,

This is definitely not expected behavior. @ICGog and I are currently quite busy with a major deadline, but we can dig into this after May 3rd.

I saw that you posted a bunch of other comments debugging this (which strangely GitHub doesn't show for me). One reason the `machine_tmpl->ParseFromFileDescriptor(fd)` call would fail is if it cannot find the machine template `.pbin` fi

[2018-04-27 17:45] marceloamaral commented on #66
To debug little bit more; I started to print all the AddArc src dst and type, and it turns out that it is failing when "adding" a scheduled task. Therefore, since update a scheduled task might be related to preemption, i have disabled the preemption from the parameters. As expected, It stopped to fail!
So it seems to be working without preemption.

Additionally, is it written somewhere how to enab

[2018-07-17 18:22] deepak-vij opened #69 "Ongoing Poseidon/Firmament Work & Concerns"
Hi Ionel & Malte, hope things are great with you two. I wanted to give you an update and ask for your expert opinion/advise on one very important issue we have identified while doing detail throughput performance testing recently. Firstly, we have completed incorporating the following scheduling functionality into Firmament scheduler:

1. Node level Affinity/Anti-Affinity using the network flow gr

[2018-07-17 18:25] deepak-vij commented on #69
@ms705 @ICGog @shivramsrivastava

[2018-07-20 20:20] deepak-vij commented on #69
Hi Ionel & Malte, providing more clarity to my earlier note. Too many arcs in the flow graph for small jobs (jobs with few tasks in it) has become a very thorny issue in order to articulate the value proposition of Firmament scheduler. It would be great to get your invaluable feedback/comments.

First of all, a clarity around why do we have a pre-set of predefined number (19 in our case) of machin

[2018-07-23 17:54] deepak-vij commented on #69
In the “Normal Pod Scenario” which I stated earlier, we blindly connect 19 (some pre-determined constant number) arcs between a task EC and machines (via single capacity machine ECs). For example, for a cluster consisting of 800 eligible nodes for incoming 3,040 jobs each consisting of 5 tasks each, we end up having 3,040 * 19 * 800 arcs. This equals 48,640,000 arcs for all these jobs.

We can def

[2018-07-23 20:20] deepak-vij commented on #69
Also, it is worthwhile highlighting that too many arcs in the flow graph problem was there even prior to adding affinity/anti-affinity functionality within firmament. It so happened that all this while we have been doing throughput performance testing using jobs with lots of tasks in them. Also, for smaller jobs we were able to group multiple jobs in case they had the same CPU/Memory resource requ

[2018-07-25 19:47] deepak-vij commented on #69
We are currently using CS2 (Cost Scaling) MCMF solver. Based on the OSDI paper you two published, it seems "Relaxation" algorithm has much better performance at scale for typical workloads. With that in mind, would Flowlessly/Relaxation solver help out in case of large input graph.

[2018-07-26 10:57] ICGog commented on #69
I think that Flowlessly relaxation algorithm is very likely to improve performance because your graph has a nice structure: there's a total order of the arc costs between each EC & machine ECs. Relaxation, would first push flow on the lowest-cost arc, which in this graph is also likely to be the best arc to push flow. By contrast, cost scaling does not take advantage of your graph structure.

Rega

[2018-07-26 18:13] deepak-vij commented on #69
In regards to reducing the no. of arcs in the flow graph, we have been successfully able to make good inroads into accomplishing this. As mentioned earlier that the main culprit was “pod level anti-affinity symmetry” functionality we recently added. Because of this, we could not group jobs even if they have the same CPU/Mem resource requirements as we need to check the Job specific Pod label in or

[2018-08-03 02:01] deepak-vij commented on #69
Hi Malte, one of the culprits for large number of arcs in the flow graph is the number of nodes in a large cluster. In our case, cluster has 800 machines in it. I was reading through your thesis, it seems you talk about mitigating this issue while describing CoCo cost model. In the thesis, you talk about possibly using "maximally aggregated subtrees" of the resource topology. Is this something can

[2018-08-10 08:27] netgenius18 opened #70 "How can I submit tasks and nodes to Firmament?"
I have some questions when running firmament? Could you help me?

- Question 1: What does parameter --task-lib-dir means?

`docker run camsas/firmament:dev /firmament/build/src/coordinator --scheduler flow --flow_scheduling_cost_model 6 --listen_uri tcp:<host>:<port> --task_lib_dir=$(pwd)/build/src`

- Question 2: How to submit tasks and nodes info?

  Our scenario is as below: (1)T1 and T2 are tw

[2018-08-10 08:42] ms705 commented on #66
@marceloamaral The schema of the CSV files generated is generally the same as the schema of the [Google cluster trace](https://github.com/google/cluster-data/blob/master/ClusterData2011_2.md). We added some additional files, and for those, you'll find the schema in the code that generates the file (or you can ask us).

To get data in the `task_usage_stats.csv` file, you want to pass the argument `

[2018-08-10 08:53] ms705 commented on #70
1. `--task_lib_dir` is needed if you want to run tasks using Firmament's native cluster execution (in which we inject a dynamically linked library into the task binary). The parameter specifies the directory in which the compile `.so` file for this library resides (and hence it's in the build tree).

2. If you're using Firmament's native cluster execution, you can use the Python script in `scripts

[2018-09-18 12:19] pratikmeher44 opened #71 "Overcommit due to max flow priority over min cost by solver"
We ran some tests with cpu memory cost model where we observed a scenario in which firmament over commits pod to a resource. After analysing the output flow graph from the solver(CS2), it was found that solver gives max flow more priority than min cost in a situation where it has to make a choice between the two. In that process it over commits pod to a resource and the pod fails with "OutOfcpu" s

[2018-09-18 12:20] pratikmeher44 commented on #71
@deepak-vij  @shivramsrivastava

[2018-09-18 14:55] ms705 commented on #71
Hi @pratikmeher44,

I'm not sure I follow your argument about giving max-flow higher priority. Max-flow on an arc is a hard constraint -- the flow on an arc cannot exceed it, even if the alternatives lead to a higher-cost solution. The only situation in which the solver "chooses" between pushing more flow on an arc vs. pushing flow on another arc is when the arcs have *identical* cost; if they don

[2018-09-19 11:43] pratikmeher44 commented on #71
Thanks a lot for the explanation. Just to make sure I have a clear understanding on how we can solve the overcommit issue, I am giving a more detailed explanation on what issue we are facing.

CPU Memory cost model was built with reference to net cost model and is quite similar. We assign cost to an arc based on cpu and memory availability and request for each resource node. So we intent to make t

[2019-01-25 06:23] shivramsrivastava opened #72 "NumNodes give Wrong value even if there is no nodes added to flow graph"
NumNodes give Wrong value even if there is no nodes added to flow graph

current_id_ initialize to one ..
when there is no node in flow graph it will return 1.

should check the initialization to one is right or not ?

Note : it is linked to previously created issue that is returning current_id_ insted of size of the map

[2019-04-16 03:34] NickrenREN opened #73 "How can Firmament support multi-dimensional resources scheduling ?"
Hi, guys,
I met an understanding problem when i read the Firmament osdi paper. That is: examples listed there seem to show that the tasks(kubernetes pods) and the machines(M0,M1...) are 1:1 mapping. If there are more tasks, they will get unscheduled. (Please correct me if i am wrong).

If so how can we handle the actual situtation that one machine can have multiple tasks running on it ?  Should we

[2019-04-16 06:50] #73 closed, assigned to nobody

[2020-11-13 15:08] gabrielecastellano commented on #73
Hello,
I have some questions similar to the ones of this thread, and it is unfortunate to see that it has been closed without any explaination.

Particularly, I wonder how firmament supports multi-dimensional resources (e.g., cpu and memory in Kubernetes) if we consider them as hard constraints for tasks to be scheduled.

Even for the simpler case when just cpu is considered, it is not clear to me

[2020-11-13 15:17] ms705 commented on #73
Each task always creates one unit of atomic (indivisible) flow; this is necessary for the min-cost max-flow formulation of the scheduling problem to work.

Multiple resource dimensions are handled by creating and removing arcs in the graph in reaction to changing available resources on machines. See e.g., §7.3.1 (p165) [here](https://cs.brown.edu/people/malte/pub/dissertations/phd-final.pdf).

[2020-11-13 15:48] gabrielecastellano commented on #73
Hello Malte,
Thanks for your quick response.

I will move to study the multi-resource formulation only after I am sure I correctly understood what concerns the simpler case with only one-dimensional constraint.

Since each task always creates one unit of flow, therefore Firmament assumes that all the tasks are equal in terms of resource consumption. Correct?
Let suppose we have three tasks:
T1 req

[2020-11-16 16:34] gabrielecastellano opened #75 "Does Firmament support fine-grained resource allocation?"
Hello guys,

I opened this issue only to make sure I correctly understood that Firmament does NOT support fine-grained resource allocation.

In my understanding, each task always creates one unit of atomic flow. This is to ensure the MCMF formulation works fine (otherwise task flows could be wrongly split on multiple paths).
Therefore, Firmament assumes that all the tasks are equal in terms of res

[2020-11-16 17:57] gabrielecastellano opened #76 "Task '/bin/sleep 60' has failed"
Hello everyone,
I managed to run firmament using the provided docker image.
When I run the container, it gives me the following error (don't know if it is related to my issue):
[code]
Despite this, the server seems running correctly, and I am able to access the gui at http://<ipaddress>:9999/

However, when I tried to submit a job with
`python scripts/job/job_submit.py 172.17.0.2 9999 /bin/sleep 6